Source: golem-nvidia-kernel
Section: misc
Priority: optional
Maintainer: Frédéric Pierret <frederic@invisiblethingslab.com>
Build-Depends:
 debhelper-compat (= 12),
 config-package-dev,
 python3,
 quilt,
 cpio,
 xz-utils,
 kmod,
 bison,
 flex,
 openssl,
 libssl-dev,
 libelf-dev,
 bc,
 pkg-config,
 rsync,
 squashfs-tools,
 nvidia-dkms-570,
 nvidia-kernel-common-570,
 libnvidia-cfg1-570,
 xserver-xorg-video-nvidia-570,
 nvidia-compute-utils-570,
 libnvidia-compute-570,
 libnvidia-gl-570-server,
 nvidia-utils-570
Standards-Version: 4.5.1

Package: golem-nvidia-kernel
Architecture: amd64
Depends: ${shlibs:Depends}, ${misc:Depends}, ya-runtime-vm
XB-Nvidia-Built-Using: ${nvidia:Version}
Description: Golem applications using Nvidia GPU.
 This package provides the kernel components for running Golem applications on systems with Nvidia GPU support.
